@mixin animation($animation) {

  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin animation($animation) {

  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}


@mixin keyframes( $animationName )
{
  @-webkit-keyframes $animationName {
	@content;
  }
  @-moz-keyframes $animationName {
	@content;
  }
  @-o-keyframes $animationName {
	@content;
  }
  @keyframes $animationName {
	@content;
  }
}


/* css3 animations */

/*tada effect*/

@include keyframes(tada) {
  0% {
    -webkit-transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
  }
}
