/*angular js preload css*/
/* line 14, style.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* css3 animations */
/*tada effect*/
@-webkit-keyframes tada {
  /* line 23, style.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 26, style.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 29, style.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 32, style.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 35, style.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-moz-keyframes tada {
  /* line 23, style.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 26, style.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 29, style.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 32, style.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 35, style.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  /* line 23, style.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 26, style.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 29, style.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 32, style.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 35, style.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  /* line 23, style.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 26, style.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 29, style.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 32, style.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 35, style.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

/* line 40, style.scss */
body {
  background-color: #ea693f;
  min-width: 320px;
}

/* line 46, style.scss */
p {
  font-size: 18px;
}

/* line 52, style.scss */
div#home {
  width: 100%;
  overflow: hidden;
}

/* line 58, style.scss */
.ex-github a {
  color: orange;
  cursor: pointer;
  text-decoration: none;
}
/* line 62, style.scss */
.ex-github a:hover {
  text-decoration: none;
  color: #505050;
}
/* line 66, style.scss */
.ex-github a:active {
  text-decoration: none;
}

/* line 72, style.scss */
.ex-link {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
/* line 78, style.scss */
.ex-link a {
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: #ea693f;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid;
  display: inline-block;
  border-radius: 5px;
  padding: 0 5px;
  text-decoration: none;
}
/* line 90, style.scss */
.ex-link a:active {
  text-decoration: none;
  color: #505050;
  -webkit-animation: tada 1s forwards;
  -moz-animation: tada 1s forwards;
  -o-animation: tada 1s forwards;
  animation: tada 1s forwards;
}
/* line 95, style.scss */
.ex-link a:hover {
  text-decoration: none;
  color: #505050;
}

/* line 105, style.scss */
.x2 {
  display: none;
}

/* line 106, style.scss */
.x1 {
  display: block;
}

/* line 108, style.scss */
section {
  padding: 40px 0;
}
/* line 110, style.scss */
section a {
  color: #505050;
  text-decoration: none;
}
/* line 114, style.scss */
section a:hover {
  color: #505050;
  text-decoration: none;
}
/* line 119, style.scss */
section a:active {
  text-decoration: none;
}
/* line 124, style.scss */
section h3 {
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 130, style.scss */
section h2 {
  font-weight: 300;
}
/* line 134, style.scss */
section#introduction {
  color: #ebecdd;
}
/* line 137, style.scss */
section#introduction em {
  display: inline-block;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  color: white;
  font-style: normal;
  cursor: pointer;
  position: relative;
}
/* line 144, style.scss */
section#introduction em:hover {
  color: #505050;
}
/* line 149, style.scss */
section#design {
  background-color: #ea693f;
  color: white;
}
/* line 150, style.scss */
section#design a {
  color: white;
  text-decoration: underline;
}
/* line 151, style.scss */
section#design h2 {
  margin-bottom: 20px;
}
/* line 152, style.scss */
section#design h2 a {
  color: white;
  text-decoration: none;
}
/* line 154, style.scss */
section#design p, section#design h2 {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}
/* line 158, style.scss */
section#design p.animated, section#design h2.animated {
  opacity: 1;
}
/* line 163, style.scss */
section#design p {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 169, style.scss */
section#projects {
  box-shadow: 0px -3px 9px rgba(80, 80, 80, 0.1);
  background-color: #f4f4f4;
}
/* line 173, style.scss */
section#projects p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 177, style.scss */
section#projects em {
  color: black;
  text-decoration: none;
  font-style: normal;
  background-color: #e9e9e9;
  display: inline-block;
  border-radius: 4px;
  padding: 0 5px;
}
/* line 185, style.scss */
section#projects em:hover {
  background-color: #505050;
  color: white;
}
/* line 191, style.scss */
section#projects .project-entry {
  padding: 40px 0;
}
/* line 195, style.scss */
section#projects h2 {
  margin-bottom: 20px;
}
/* line 200, style.scss */
section#projects h3 {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 35px;
}
/* line 205, style.scss */
section#projects p {
  color: #505050;
}
/* line 210, style.scss */
section#projects .engage-art {
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms;
  position: relative;
  margin-top: 30px;
}
/* line 215, style.scss */
section#projects .engage-art:hover .expand {
  opacity: 1;
}
/* line 219, style.scss */
section#projects .engage-art .expand {
  cursor: pointer;
  color: #f4f4f4;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 20px;
}
/* line 227, style.scss */
section#projects .engage-art .expand:hover {
  color: #505050;
}
/* line 231, style.scss */
section#projects .engage-art#engage-art-1 img {
  margin-bottom: 20px;
  margin-left: -100px;
}
/* line 234, style.scss */
section#projects .engage-art#engage-art-1 img.animated {
  margin-left: 0px;
  opacity: 1;
}
/* line 241, style.scss */
section#projects .engage-art#engage-art-2 img {
  margin-left: 100px;
}
/* line 243, style.scss */
section#projects .engage-art#engage-art-2 img.animated {
  margin-left: 0px;
  opacity: 1;
}
/* line 250, style.scss */
section#projects .engage-art img {
  opacity: 1;
  width: 100%;
  border: 4px white solid;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
/* line 256, style.scss */
section#projects .engage-art img:hover {
  border-color: #d0d0d0;
}
/* line 265, style.scss */
section#projects #nagi-art {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
  background-image: url("../img/nagi.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 50% 0;
}
/* line 268, style.scss */
section#projects #nagi-art img {
  width: 100%;
  opacity: 0;
}
/* line 279, style.scss */
section#projects #nagi-art.animated {
  opacity: 1;
  margin-top: 100px;
}
/* line 284, style.scss */
section#projects #intouch-art {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
  background-image: url("../img/intouch-iphone5.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 50% 0;
}
/* line 287, style.scss */
section#projects #intouch-art img {
  width: 100%;
  opacity: 0;
}
/* line 298, style.scss */
section#projects #intouch-art.animated {
  opacity: 1;
  margin-top: 100px;
}
/* line 307, style.scss */
section#experience {
  box-shadow: 0px -3px 9px rgba(80, 80, 80, 0.1);
  background-color: #ebecdd;
}
/* line 309, style.scss */
section#experience p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 312, style.scss */
section#experience .job-entry {
  margin-top: 20px;
}
/* line 314, style.scss */
section#experience .job-entry .months {
  display: none;
}
/* line 318, style.scss */
section#experience .job-entry.animated p {
  opacity: 1;
}
/* line 323, style.scss */
section#experience .job-entry:hover .period {
  display: none;
}
/* line 326, style.scss */
section#experience .job-entry:hover .months {
  display: inline;
}
/* line 332, style.scss */
section#experience ul {
  list-style: none;
  padding: 0;
}
/* line 336, style.scss */
section#experience .job-list {
  margin-top: 40px;
}
/* line 339, style.scss */
section#experience .job-duration {
  -webkit-transition: all 1500ms;
  -moz-transition: all 1500ms;
  -o-transition: all 1500ms;
  transition: all 1500ms;
  opacity: 0;
  background-color: #ea693f;
  color: white;
  margin-top: 5px;
}
/* line 345, style.scss */
section#experience .job-duration.animated {
  opacity: 1;
}
/* line 351, style.scss */
section#experience .job-describ {
  color: #505050;
}
/* line 355, style.scss */
section#experience h2 {
  font-weight: 300;
  color: #505050;
}

/* line 363, style.scss */
a#logo {
  text-decoration: none;
  font-size: 40px;
  padding: 20px;
}

/* line 370, style.scss */
.footer {
  background-color: #ea693f;
  min-height: 50px;
}

/* line 376, style.scss */
div.up {
  cursor: pointer;
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin: 30px auto;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
}
/* line 377, style.scss */
div.up:hover {
  color: #ea693f;
  background-color: white;
  border-color: white;
}

/* line 393, style.scss */
ul#social-links {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 170px;
  list-style: none;
  padding: 0;
}
/* line 402, style.scss */
ul#social-links li {
  cursor: pointer;
  float: left;
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
/* line 410, style.scss */
ul#social-links li:hover {
  -webkit-animation: tada 1s forwards;
  -moz-animation: tada 1s forwards;
  -o-animation: tada 1s forwards;
  animation: tada 1s forwards;
}
/* line 414, style.scss */
ul#social-links a {
  color: white;
}

/* line 420, style.scss */
.hugeBlock {
  position: relative;
}

/* line 424, style.scss */
.hugeTextBlock {
  -webkit-font-smoothing: antialiased;
  padding: 90px;
  color: white;
}
/* line 429, style.scss */
.hugeTextBlock p {
  font-size: 60px;
  font-weight: 300;
  line-height: 120%;
  margin: 0;
}

/* line 438, style.scss */
a.link {
  cursor: pointer;
}
/* line 441, style.scss */
a.link::-moz-focus-inner {
  border: 0;
}
/* line 444, style.scss */
a.link:hover {
  text-decoration: none;
}
/* line 447, style.scss */
a.link:focus {
  outline: none;
}

/* line 452, style.scss */
.nextSectionBtn {
  cursor: pointer;
  font-weight: 300;
  outline: none;
  font-size: 20px;
  color: #f4f4f4;
  width: 100%;
  bottom: 10px;
  left: 0;
  position: absolute;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
/* line 453, style.scss */
.nextSectionBtn a {
  color: white;
}
/* line 473, style.scss */
.nextSectionBtn:hover {
  color: #505050;
}
/* line 477, style.scss */
.nextSectionBtn i {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 484, style.scss */
  .hugeTextBlock {
    padding: 20px;
  }
  /* line 486, style.scss */
  .hugeTextBlock p {
    font-size: 30px;
  }

  /* line 493, style.scss */
  section#projects #intouch-art {
    margin-top: -10px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 506, style.scss */
  .x2 {
    display: block;
  }

  /* line 507, style.scss */
  .x1 {
    display: none;
  }

  /* line 509, style.scss */
  section#projects #intouch-art {
    background-image: url("../img/intouch-iphone5@x2.png");
  }

  /* line 513, style.scss */
  section#projects #nagi-art {
    background-image: url("../img/nagi@x2.png");
  }
}
