@import "compass";
@import "mixins";


$light-gray: rgb(244, 244, 244);
$dark-gray: rgb(80, 80, 80);
$dark-blue: rgb(0, 142, 215);
$md-blue: lighten($dark-blue, 5%);
$orange: #EA693F;
$fall-green: #EBECDD;
$cyan: #9ED4CB;

/*angular js preload css*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* css3 animations */

/*tada effect*/

@include keyframes(tada) {
  0% {
	-webkit-transform: scale(1);
  }
  10%, 20% {
	-webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
	-webkit-transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
	-webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
	-webkit-transform: scale(1) rotate(0);
  }
}

body {
  background-color: $orange;
  min-width: 320px;



}

p{
 font-size:16px;
}


div#home {
  width: 100%;
  overflow: hidden;

}

.ex-github a{
  color:orange;
  cursor: pointer;
  text-decoration: none;
  &:hover{
	text-decoration: none;
	color:$dark-gray;
  }
  &:active{
	text-decoration: none;
  }
}


.ex-link {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;

  a {
	@include transition(color 500ms);
	color:  $orange;
	font-weight: 300;
	font-size: 15px;
	border: 1px solid;

	display: inline-block;
	border-radius: 5px;
	padding: 0 5px;

	text-decoration: none;
	&:active {
	  text-decoration: none;
	  color: $dark-gray;
	  @include animation(tada 1s forwards);
	}
	&:hover {
	  text-decoration: none;
	  color: $dark-gray;


	}
  }

}

.x2{display: none;}
.x1{display: block;}

section {

  a{
	color:$dark-gray;
	text-decoration: none;
  }
  a:hover{
	color:$dark-gray;
	text-decoration: none;

  }
  a:active{
	text-decoration: none;
  }

  padding: 40px 0;
  h3 {
	padding-top: 0;
	margin-top: 0;
  }
  h2 {
	font-weight: 300;
  }

  &#introduction {

	color: $fall-green;
	em {
	  display: inline-block;
	  @include transition(color 200ms);
	  color: white;
	  font-style: normal;
	  cursor: pointer;
	  position: relative;
	  &:hover {
		color: $dark-gray;
	  }
	}
  }
  &#design {
	a{color:white; text-decoration: underline}
	h2{margin-bottom: 20px;
	a{color:white;text-decoration: none}
	}
	p,h2{
	  @include transition(all 500ms);
	  opacity: 0;
	}
	p.animated,h2.animated{
	  opacity: 1;
	}
	background-color: $orange;
	color: white;
	p {
	  color: white;
	}
  }

  &#projects {
	box-shadow: 0px -3px 9px rgba($dark-gray, 0.1);
	background-color: $light-gray;

	em{
	  color:black;
	  text-decoration: none;
	  font-style: normal;
	  background-color: lighten($dark-gray,60%);
	  display: inline-block;
	  border-radius: 4px;
	  padding: 0 5px;
	  &:hover{
		background-color: $dark-gray;
		color:white;
	  }
	}

	.project-entry {

	  padding: 40px 0;
	}
	h2 {
	  //color: white;
	  margin-bottom: 20px;
	}

	h3 {
	  font-weight: 300;
	  font-size: 40px;
	  margin-bottom: 35px;
	}
	p {
	  // color:white;
	  color:$dark-gray;
	}

	.engage-art {
	  @include transition(all 1000ms);
	  position: relative;
	  margin-top: 30px;
	  &:hover{
		.expand {
		  opacity: 1;
		}
	  }
	  .expand {
		cursor: pointer;
		color:$light-gray;
		opacity: 0;
		position: absolute;
		right:20px;
		top:0;
		font-size: 20px ;
		&:hover{
		  color:$dark-gray;
		}
	  }
	  &#engage-art-1 img {
		margin-bottom: 20px;
		margin-left: -100px;
		&.animated {
		  margin-left: 0px;

		  opacity: 1;
		}
	  }

	  &#engage-art-2 img  {
		margin-left: 100px;
		&.animated {
		  margin-left: 0px;

		  opacity: 1;
		}
	  }

	  img {

		opacity: 1;
		width: 100%;
		border: 4px white solid;
		@include transition(all 500ms ease-in);
		&:hover{
		    border-color:lighten($dark-gray,50%) ;
		}
	  }


	}

	#intouch-art {
	  opacity: 0;
	  @include transition(opacity 1000ms);
	  img {

		width: 100%;
		opacity: 0;
	  }
	  background-image: url('../img/intouch-iphone5.png');
	  background-repeat: no-repeat;
	  background-size: 95%;
	  background-position: 50% 0;

	}
	#intouch-art.animated {
	  opacity: 1;
	  margin-top: 100px;
	}

  }
  &#experience {
	box-shadow: 0px -3px 9px rgba($dark-gray, 0.1);

	.job-entry {
	  margin-top: 20px;
	  .months {
		display: none;
	  }

	  &.animated p {
		opacity: 1;
	  }

	  &:hover {
		.period {
		  display: none;
		}
		.months {
		  display: inline;
		}

	  }
	}
	ul {
	  list-style: none;
	  padding: 0;
	}
	.job-list {
	  margin-top: 40px;
	}
	.job-duration {
	  @include transition(all 1500ms);
	  opacity: 0;
	  background-color: $orange;
	  color: white;
	  margin-top: 5px;
	  &.animated {
		opacity: 1;
	  }

	}

	.job-describ {
	  color: $dark-gray;
	}
	background-color: $fall-green;
	h2 {
	  font-weight: 300;
	  color: $dark-gray;
	}

  }
}

a#logo {

  text-decoration: none;
  font-size: 40px;
  padding: 20px;
}

.footer {
  background-color: $orange;
  min-height: 50px;

}

div.up{
  &:hover{
	color:$orange;
	background-color: white;
	border-color: white;
  }
  cursor: pointer;
  color:white;
  font-size: 30px;
  width: 50px;
  height:50px;
  margin:30px auto;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
}

ul#social-links {

  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 170px;
  list-style: none;
  padding: 0;

  li {
	cursor: pointer;
	float: left;
	display: inline-block;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	@include transition(all 300ms);
	&:hover {
	  @include animation(tada 1s forwards);
	}
  }
  a {
	color: white;

  }
}

.hugeBlock {
  position: relative;
}

.hugeTextBlock {
  -webkit-font-smoothing: antialiased;
  padding: 90px;
  color: white;

  p {
	font-size: 60px;
	font-weight: 300;
	line-height: 120%;
	margin: 0;

  }
}

a.link {
  cursor: pointer;

  &::-moz-focus-inner {
	border: 0;
  }
  &:hover {
	text-decoration: none;
  }
  &:focus {
	outline: none;
  }
}

.nextSectionBtn {
  cursor: pointer;
  font-weight: 300;
  outline: none;
  font-size: 20px;
  color: $light-gray;
  width: 100%;
  bottom: 10px;
  left: 0;
  position: absolute;
  display: block;
  text-decoration: none;
  text-align: center;
  @include transition(all 300ms);
  &:hover {
	color: $dark-gray;

  }
  i {
	display: block;
  }
}

//style for phones and tablets
@media only screen and (max-width: 767px) {
  .hugeTextBlock {
	padding: 20px;
	p {
	  font-size: 30px;
	}
  }

  section {
	&#projects {
	  #intouch-art {
		margin-top: -10px;

	  }
	}
  }
}


//retina display
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .x2 {display: block;}
  .x1 {display: none;}

  section#projects #intouch-art  {
	background-image: url('../img/intouch-iphone5@x2.png');
  }
}